.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-left: 9.5%;
  padding: 0 0 1rem;  
  min-width: max-content;
  position: sticky;
  background-color: #fff;
  z-index: 0;
  top: 64px;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding-left: 0.25rem;
  color: #333;
}

.breadcrumb-item a {
  color: #333;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}