.breadcrumb {
    display: flex;
    flex-wrap:wrap;
    list-style: none;
    margin: 0;
    margin-left: 7.4vw;
    padding-left: 0;
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    min-width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 10; 
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    padding-left: 0.25rem;
    color: #333;
  }
  
  .breadcrumb-item a{
    color: #333;
    text-decoration: none;
  }

  @media (max-width: 1070px) {
    .breadcrumb {
      margin-left: 9vw;;
    }
  }