.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    border-radius: 0.25rem;
    margin-left: 7.5vw;
    position: fixed;
    margin-top: 2px;
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    padding-left: 0.25rem;
    color: #333;
  }
  
  .breadcrumb-item a{
    color: #333;
    text-decoration: none;
  }