<header class="top-header">
  <div class="header-content">
    <a href="https://www.pushtopic.com" class="logo-name-wrapper">
      <div class="logo-name-items">
        <img class="logo" src="assets/logo.png" alt="Logo" />
        <div class="name">Pushtopic</div>
      </div>
    </a>
    <div class="header-right">
      <div class="developer-guide">
        <a
          class="developer-guide-link"
          href="https://www.pushtopic.com/manual/architecture_auth_security.html"
          target="_blank"
          >Developer Guide</a
        >
      </div>
    </div>
  </div>
</header>
