.logo-name-wrapper{
  text-decoration: none;
}
.logo {
  height: 60px;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  color: #418796;
  margin-left: 1rem;
}

.logo-name-items {
  display: flex;
  align-items: center;
}

.top-header {
  width: 100%;
  height: 60px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header-content {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-wrapper {
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100vh - 60px);
  /* 290 */
  width: 370px;
  background-color: transparent;
  border-right: none;
  transition: width 0.3s ease;
}

.sidebar-wrapper.collapsed {
  width: 0;
}

.sidebar {
  /* 260 */
  width: 340px;  
  padding: 0rem, 0.5rem;
  transition: width 0.3s ease;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.sidebar.collapsed {
  width: 0px;
}

.sidebar-collapse-button {
  position: absolute;
  top: 10px;
  /* 270 */
  left: 350px;
  margin-left: 6px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  transition: color 0.2s ease;
  z-index: 999;
}

.sidebar-collapse-button:hover {
  color: #418796;
}

.sidebar-wrapper.collapsed .sidebar-collapse-button {
  left: 10px;
}

.search-input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
}

.search-input:focus {
  outline: none;
}

.search-shortcut-wrapper {
  position: relative;
  width: 25%;
  margin-right: 18px;
}

@media (min-width: 768px) {  
  .search-shortcut-wrapper {
    position: absolute;      
    top: 50%;             
    left: 50%;           
    transform: translate(-50%, -50%); 
    margin-right: 0;    
  }
}

.shortcut-hint {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #eee;
  font-size: 0.9rem;
  padding: 2px 6px;
  border-radius: 4px;
  color: #555;
}

.shortcut-clickable {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.shortcut-clickable:hover {
  background-color: #ddd;
}

.container {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  justify-content: center;
}

.content {
  padding-top: 0.5px;
  transition: margin-left 0.3s ease;
  justify-self: center;
  width: 75%;
}

.sidebar-wrapper.collapsed + .content {
  margin-left: 0;
}
.sidebar-wrapper + .content {
  margin-left: 340px;
}

ul {
  padding-left: 1rem;
}

ul li {
  margin: 0;
}

p, tr, pre, ul, li {
  line-height: 1.3;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0rem 0rem 1rem 0rem;
}

.nav-section {
  list-style: none;
  padding: 0;
  margin: 0.5rem;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.45rem 0.45rem;
  font-weight: 500;
  cursor: pointer;
  color: #418796;
  transition: background 0.2s;
  border-radius: 6px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f9f9f9;
}

.category-header:hover {
  background-color: #d9e4e8;
}

.arrow {
  font-size: 1.3rem;
  transform: rotate(90deg);
  
}

.arrow.expanded {
  transform: rotate(180deg);
}

.function-list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  border-left: 1.5px solid #d9e4e8;
}

.nav-item a {
  text-decoration: none;
  color: #333;
  font-size: 0.85rem;
  margin: 0.25rem 0rem 0rem 0rem;
  padding: 0.2rem;
  border-radius: 6px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.nav-item a:hover {
  background-color: #d9e4e8;
}

.nav-item.active a {
  background-color: #d9e4e8;
  color: #418796;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .sidebar-collapse-button {
    left: 340px;
  }
}

@media (max-width: 1070px) {
  .sidebar-wrapper {
    width: 0 !important;
    height: 0;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 1000;
  }

  .sidebar-overlay {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: none;
    pointer-events: auto;
  }

  .sidebar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    width: 90%;
    max-width: 500px;
    height: auto;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #f9f9f9;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    padding: 0; 
    border-radius: 12px;
    opacity: 0;
    pointer-events: auto;
    z-index: 1000;
  }

  .sidebar-wrapper.show-sidebar .sidebar {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  .sidebar-wrapper.show-sidebar .sidebar-overlay {
    display: block;
  }

  .sidebar-collapse-button {
    left: 0px !important;
    z-index: 1001;
  }

  .sidebar-wrapper + .content {
    margin-left: 0 !important;
  }

  .sidebar-scroll-content {
    overflow-y: auto;
    max-height: 80vh;
    padding:0;
    border-radius: inherit; 
  }

  main.content {
    width: 100%;
  }
}
