<header class="top-header">
  <div class="header-content">
    <div class="logo-name-items">
      <img class="logo" src="assets/logo.png" alt="Logo" />
      <div class="name">Pushtopic</div>
    </div>
  </div>
</header>

<div class="container">
  <div class="sidebar-wrapper" [class.collapsed]="isSidebarCollapsed">
    <aside class="sidebar" *ngIf="!isSidebarCollapsed">
      <div class="sidebar-search">
        <div class="search-shortcut-wrapper">
          <input
            type="text"
            placeholder="Search functions..."
            (click)="isSearchOpen = true"
            readonly
            class="search-input"
          />
          <span
            class="shortcut-hint shortcut-clickable"
            (click)="isSearchOpen = true"
            >/</span
          >
        </div>
      </div>

      <nav class="nav">
        <ul class="nav-section">
          <li *ngFor="let category of functionCategories" class="nav-category">
            <div class="category-header" (click)="toggleCategory(category)">
              {{ category.name }}
              <span class="arrow" [class.expanded]="category.expanded">▸</span>
            </div>
            <ul class="function-list" *ngIf="category.expanded">
              <li
                class="nav-item"
                *ngFor="let func of category.functions"
                routerLinkActive="active"
              >
                <a [routerLink]="['/docs', func.route]">{{ func.name }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </aside>
    <button
      class="sidebar-collapse-button"
      (click)="isSidebarCollapsed = !isSidebarCollapsed"
      title="Collapse Sidebar"
    >
      <span>☰</span>
    </button>
  </div>

  <main class="content" [class.sidebar-collapsed]="isSidebarCollapsed">
    <router-outlet></router-outlet>
  </main>

  <app-search-overlay
    *ngIf="isSearchOpen"
    (closed)="isSearchOpen = false"
  ></app-search-overlay>
</div>
