<!-- Header Component -->
<app-header></app-header>

<div class="container">
  <!-- Sidebar Component -->
  <app-sidebar
    [collapsed$]="collapsed$"
    [showSidebar]="showSidebar"
    (toggleSidebar)="onToggleSidebar()"
    (searchOpen)="onSearchOpen()">
  </app-sidebar>

  <main class="content" #contentRef [class.sidebar-collapsed]="collapsed$ | async">
    <ng-container *ngIf="router.url !== '/docs'">
      <!-- <div class="breadcrumb-wrapper">
        <app-breadcrumb [crumbs]="breadcrumbs"></app-breadcrumb>
      </div> -->
    </ng-container>
    <router-outlet></router-outlet>
    <app-scroll-to-top [scrollContainer]="contentRef"></app-scroll-to-top>
  </main>

  <app-search-overlay
    *ngIf="isSearchOpen"
    [isOpen]="isSearchOpen"
    (closed)="isSearchOpen = false"
  ></app-search-overlay>
</div>
