<header class="top-header">
  <div class="header-content">
    <a href="https://www.pushtopic.com" class="logo-name-wrapper">
      <div class="logo-name-items">
        <img class="logo" src="assets/logo.png" alt="Logo" />
        <div class="name">Pushtopic</div>
      </div>
    </a>
    <div class="search-shortcut-wrapper">
      <input
        type="text"
        [placeholder]="placeholderText"
        (click)="isSearchOpen = true"
        readonly
        class="search-input"
      />
      <span
        class="shortcut-hint shortcut-clickable"
        (click)="isSearchOpen = true"
        >/</span
      >
    </div>
  </div>
</header>

<div class="container">
  <div
    class="sidebar-wrapper"
    [ngClass]="{ collapsed: isSidebarCollapsed, 'show-sidebar': showSidebar }"
  >
    <div class="sidebar-overlay" (click)="closeSidebar()"></div>

    <aside class="sidebar" *ngIf="!isSidebarCollapsed || showSidebar">
      <div class="sidebar-scroll-content">
        <nav class="nav">
          <ul class="nav-section">
            <li
              *ngFor="let category of functionCategories"
              class="nav-category"
            >
              <div class="category-header" (click)="toggleCategory(category)">
                {{ category.name
                }}{{
                  category.name !== "Operators" &&
                  category.name !== "Global Variables"
                    ? " Functions"
                    : ""
                }}
                <span
                  class="arrow"
                  [class.expanded]="
                    category.name === 'Operators'
                      ? operatorExpand
                      : category.name === 'Global Variables'
                      ? globalVariableExpand
                      : category.expanded
                  "
                >
                  {{
                    category.name === "Operators"
                      ? operatorExpand
                        ? "−"
                        : "+"
                      : category.name === "Global Variables"
                      ? globalVariableExpand
                        ? "−"
                        : "+"
                      : category.expanded
                      ? "−"
                      : "+"
                  }}
                </span>
              </div>
              <ul
                class="function-list"
                *ngIf="
                  category.expanded &&
                  category.name !== 'Operators' &&
                  category.name !== 'Global Variables'
                "
              >
                <li
                  class="nav-item"
                  *ngFor="let func of category.functions"
                  routerLinkActive="active"
                >
                  <a
                    [routerLink]="['/docs', func.route]"
                    [queryParams]="{ activeCategory: category.name }"
                    (click)="resetOperatorsArrow()"
                    >{{ func.name }}</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </aside>
    <button
      class="sidebar-collapse-button"
      (click)="toggleSidebar()"
      title="Collapse Sidebar"
    >
      <span>☰</span>
    </button>
  </div>

  <main class="content" [class.sidebar-collapsed]="isSidebarCollapsed">
    <ng-container *ngIf="router.url !== '/docs'">
      <app-breadcrumb [crumbs]="breadcrumbs"></app-breadcrumb>
    </ng-container>
    <router-outlet></router-outlet>
  </main>

  <app-search-overlay
    *ngIf="isSearchOpen"
    [isOpen]="isSearchOpen"
    (closed)="isSearchOpen = false"
  ></app-search-overlay>
</div>
