
.home-content {
  margin: 5rem auto; 
  width: 81%; 
  padding-bottom: 5rem;
}
.doc-tables {
  width: 100%;
  margin-bottom: 2rem;
  border-collapse: collapse;
}
.doc-tables th,
.doc-tables td {
  border: 1px solid #ddd;
  padding: 0.5rem;
}
.doc-tables th {
  background-color: #f4f4f4;
}

.two-columns th:nth-child(1),
.two-columns td:nth-child(1) {
  width: 25%;
}
.two-columns th:nth-child(2),
.two-columns td:nth-child(2) {
  width: 75%;
}

.three-columns th:nth-child(1),
.three-columns td:nth-child(1) {
  width: 15%;
}
.three-columns th:nth-child(2),
.three-columns td:nth-child(2) {
  width: 20%;
}
.three-columns th:nth-child(3),
.three-columns td:nth-child(3) {
  width: 65%;
}

h2[id] {
  scroll-margin-top: 80px;
}

.tag-nav {
  margin: 2rem 0;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.tag-nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 默认三列 */
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1200px) {
  .tag-nav ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 当屏幕宽度小于 600px 时，改为两列 */
@media (max-width: 800px) {
  .tag-nav ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 当屏幕宽度小于 400px 时，改为一列 */
@media (max-width: 400px) {
  .tag-nav ul {
    grid-template-columns: 1fr;
  }
}

