
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}




body {
  font-family: "ITC Avant Garde", system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #333;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  color: #217B95;
}

p, tr, pre, ul, li {
  font-size: 1rem;
  line-height: 1.6;
} 

ul {
  margin: 1.25rem 0 1.25rem 1.5rem;
  padding-left: 0;
}

ul li {
  margin: 0.5rem 0;
} 

.hljs {
  background-color: #f8f8f8 !important;
  line-height: 1.6;
}

a {
  color: #418796;
  text-decoration: none;
}