/* You can add global styles to this file, and also import other style files */
body {
  font-family: "ITC Avant Garde", system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #333;
}

.doc-section p code {
  background-color: #f2eeee;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-size: 1.25rem;
  color: #e35f5f;
}
